div{
    margin-top: -27px;
    text-align: -webkit-center;
    color: #2196F3;
}
.my-icon{
    height: 50px !important;
    width: 50px !important;
    border: 3px solid white;
    border-radius: 50%;
    background-color: #333333;
}

ion-col{
    text-align: -webkit-center !important;
}

ion-item {
    --background: gainsboro;
    border-radius: 3px;
    padding-bottom: 2%;
}